header{
    background-color: #06131f;
    padding: 15px 40px;
    height: 10vh;
    display: flex;
    align-items: center;
}
header figure{
    width: 50px;
    margin: 0;
}
header img{
    width: 100%;
}

main{
    position: relative;
    height: 90vh;
    background-color: #1d2d3c;
}

.disc{
    background-color: #112030;
    width: calc(100%/4 - 20px);
    margin-bottom: 50px;
    padding: 15px 30px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disc:hover{
    cursor: pointer; 
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.67);
}

.big-disc{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 41, 73, 0.9);
}

.big-disc figure{
    width: 200px;
}
.big-disc figure img{
    width: 100%;
}

.close{
    position: absolute;
    top: 30px;
    right: 30px;
    border: 2px solid white;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
}

.close:hover{
    cursor: pointer;
}


.disc figure{
    width: 80%;
}
.disc figure img{
    width: 100%;
}