header{
    background-color: #06131f;
    padding: 15px 40px;
    height: 10vh;
    display: flex;
    align-items: center;
}
header figure{
    width: 50px;
    margin: 0;
}
header img{
    width: 100%;
}

main{
    height: 90vh;
    background-color: #1d2d3c;
}

.disc{
    background-color: #112030;
    width: calc(100%/4 - 20px);
    margin-bottom: 50px;
    padding: 15px 30px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disc figure{
    width: 80%;
}
.disc figure img{
    width: 100%;
}